@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.categories {
  background-color: var(--color-white);
  letter-spacing: -0.03rem;
  padding: rem(65) 0 rem(75);

  h2 {
    margin-bottom: 0;
    line-height: 1.3;

    &+p {
      letter-spacing: 0.03rem;
      margin-bottom: rem(50);
      line-height: 1.2;
    }
  }

  &--portfolio {
    padding: rem(65) 0 rem(20);

    h2 {
      &+p {
        letter-spacing: 0.03rem;
        margin-bottom: rem(55);
        line-height: 1;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;

    &--portfolio {
      grid-template-rows: 80px 80px 1fr 80px 1fr 80px;
      gap: 0 20px;

      .categories__item {

        &:nth-child(2) {
          grid-column: 2/3;
          grid-row: 2/3;
        }

        &:nth-child(3) {
          grid-column: 3/4;
          grid-row: 3/5;
        }

        &:nth-child(4) {
          grid-column: 1/2;
          grid-row: 5/6;
        }

        &:nth-child(5) {
          grid-column: 2/3;
          grid-row: 4/5;
        }
      }

    }
  }

  @include media(desktop) {}

  @include media(tablet) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;

      img {
        aspect-ratio: 16 / 7;
        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }

    &__item {
      width: 100%;
    }

    &__list--portfolio {
      grid-template-rows: 1fr;
    }

    .categories__item {
      &:nth-child(2) {
        grid-column: auto;
        grid-row: auto;
      }

      &:nth-child(3) {
        grid-column: auto;
        grid-row: auto;
      }

      &:nth-child(4) {
        grid-column: auto;
        grid-row: auto;
      }

      &:nth-child(5) {
        grid-column: auto;
        grid-row: auto;
      }
    }

    img {
      max-width: 100%;
      width: 100%;
    }

    .category {

      &:not(:last-child) {
        margin-bottom: rem(40);
      }

      img {
        aspect-ratio: 16 / 7;
        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }
  }

  @include media(mobile-l) {
    &__list {
      grid-template-columns: 1fr;
      justify-items: center;

      img {
        aspect-ratio: 16 / 7;
        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }
  }
}

.category {
  max-width: 392px;

  img {
    max-width: 392px;
    width: 100%;
    height: 250px;
    margin-bottom: rem(20);
    object-fit: cover;
  }

  &--portfolio {
    img {
      height: 470px;
    }
  }

  &__content {
    max-width: 380px;
  }

  h3 {
    font-size: 22px;
    font-weight: var(--fw-500);
    line-height: 1.45;
    transition: color .2s;
  }

  p {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.12rem;
    line-height: 1.75;
  }

  @include media(desktop) {
    &--portfolio {
      img {
        height: 400px;
      }
    }
  }
}